.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  background: #ececec;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.flag-input {
  border-radius: 3px;
  width: 150px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
}

.list-item {
  height: 30px;
  display: flex;
  line-height: 30px;
  font-size: 14px;
  color: #666;
  padding-left: 10px;
}

.list-item:hover {
  background: #cccccc;
}
