/* add css styles here (optional) */

.pd-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
}

.pd-node-templates-panel {
  width: 200px;
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;

  background: #f2f2f2;
}

.pd-node-template-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.pd-canvas {
  flex-grow: 1;
  flex-shrink: 1;
}

.pd-painter-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.pd-painter-wrapper::-webkit-scrollbar {
  width: 0 !important;
}
