/* add css styles here (optional) */

.pd-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
}

.pd-node-templates-panel {
  width: 200px;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  background: #f2f2f2;
}

.pd-canvas {
  flex-grow: 1;
  flex-shrink: 1;
}

.pd-painter-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.pd-painter-container::-webkit-scrollbar {
  width: 0 !important;
}
