/* add css styles here (optional) */

.pd-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
}

.pd-container div {
  box-sizing: border-box;
}

.pd-container * {
  user-select: none;
}

.pd-left-side-area {
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 200px;
  height: 100%;
  border-right: 1px solid #e8e8e8;
  background: #ffffff;
}

.pd-node-templates-panel {
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  overflow-y: auto;
}

.pd-node-template-item {
  cursor: move;
  border-bottom: 1px solid #ebedf0;
  padding: 10px 24px;
  text-overflow: ellipsis;
}
.pd-node-template-item:hover {
  background: #e6f7ff;
}

.pd-canvas {
  flex-grow: 1;
  flex-shrink: 1;
}

.pd-painter-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.pd-painter-wrapper::-webkit-scrollbar {
  width: 0 !important;
}
